/* Reset CSS */
* {
  box-sizing: border-box;
  margin: 0;
}

body {
  display: flex;
  flex-flow: column;
  width: 100%;
  height: 100vh;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  color: #292b2c;
  line-height: 24px;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  padding: 0;
  border: none;
  outline: none;
  background-color: transparent;
  cursor: pointer;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  text-align: left;
}

ul {
  list-style: none;
  padding-left: 0;
}

.sr-only {
  display: none;
}

/* Header */
.header {
  position: relative;
  padding: 40px 8vw 30px;
}

.name {
  width: fit-content;
  height: 36px;
  margin-bottom: 30px;
}

.name a {
  display: block;
  font-size: 28px;
  line-height: 36px;
}

.info {
  margin-bottom: 20px;
}

.email-emoji {
  color: transparent;
}

.email:hover > .email-emoji {
  color: #292b2c;
}

.year {
  position: absolute;
  height: 36px;
  top: 40px;
  right: 8vw;
}

.links li {
  display: block;
  width: fit-content;
}

.links li:first-child {
  margin-bottom: 4px;
}

.links li::after {
  display: block;
  content: "";
  max-width: 0;
  height: 1px;
  background-color: #292b2c;
  transition: max-width 200ms ease-in;
}

.links li:hover::after {
  max-width: 100%;
}

/* Main - Nav */
.main {
  flex-grow: 1;
  padding: 30px 8vw 45px;
  background-color: rgba(232, 232, 232, 0.8);
}

.menu-group {
  display: flex;
  align-items: center;
  margin-bottom: 32px;
}

.menu-group a:first-child {
  margin-right: 14px;
}

.menu-group a::after {
  display: block;
  content: "";
  max-width: 0;
  height: 1px;
  background-color: #292b2c;
  transition: max-width 200ms ease-in;
}

.menu-group a:hover::after,
.menu-group a.active::after {
  max-width: 100%;
}

.menu-group a:last-child::after {
  background-color: #0071e3;
}

.menu-group a:last-child:hover::after {
  max-width: 85%;
}

.resume-link {
  padding: 5px 8px;
  margin-left: auto;
  border-radius: 2px;
  color: #0071e3;
}

.resume-link:hover,
.resume-link:active {
  color: #0077ed;
}

.resume-link i {
  font-size: 12px;
}

/* Main - Content */
.index-text {
  margin-bottom: 20px;
}

.works-title {
  font-size: 18px;
  line-height: 26px;
  margin-bottom: 6px;
}

.works-category:first-child {
  margin-bottom: 20px;
}

.works-item {
  position: relative;
  height: 1.8rem;
}
.works-item::before {
  display: inline-block;
  position: relative;
  top: -1px;
  content: "\f054";
  font-family: FontAwesome;
  font-size: 12px;
  color: transparent;
  width: 1.3em;
  margin-left: -1.6em;
}

.works-item:hover::before {
  color: #292b2c;
}
