* {
  box-sizing: border-box;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Spoqa Han Sans Neo", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  width: 100%;
  color: #191a20;
}

a {
  color: inherit;
  text-decoration: none;
  font-family: inherit;
}

button {
  border: none;
  background-color: transparent;
  padding: 0;
}

ul {
  padding-left: 0;
  list-style: none;
}

::selection {
  background-color: #000;
  color: #fff;
}

/* Nav */

.Nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  width: 100%;
  padding: 1rem 10rem;
  border-bottom: 1px solid #ddd;
  background-color: rgba(255, 255, 255, 0.1);
  backdrop-filter: saturate(180%) blur(10px);
}

.Nav h1 {
  font-family: "Poppins", sans-serif;
  font-size: 1.5rem;
}

.Nav .logo {
  width: 35px;
  height: 35px;
}

/* Main */

.Main {
  width: 40rem;
  margin: 0 auto;
  padding: 8rem 0;
}

/* Header */

.header {
  margin-bottom: 7rem;
}

.header h1 {
  font-size: 6rem;
  margin-bottom: 30px;
  line-height: 1.4;
  letter-spacing: -0.01em;
}

.header p {
  padding-left: 3px;
  font-size: 1.7rem;
  line-height: 1.6;
}

/* Section */

.section {
  margin-bottom: 7rem;
}

.section h1 {
  display: flex;
  align-items: center;
  height: 3rem;
  font-size: 2.4rem;
  margin-bottom: 3rem;
}

.section h1 .icon {
  font-size: 1.6rem;
  margin-right: 0.5rem;
  color: #c2c2c2;
}

.section li {
  padding-left: 2rem;
  font-size: 1.1rem;
  line-height: 1.8;
}

.section li::before {
  content: "▪";
  margin-right: 8px;
}

.section .item {
  padding-left: 2rem;
  margin-bottom: 2rem;
}

.project h3 {
  font-size: 1.8rem;
}

.project h3::before {
  content: "▪";
  margin-right: 8px;
  color: #c2c2c2;
}

.project .item {
  width: 20rem;
  padding: 1.2rem;
  border-radius: 4px;
  transition: 200ms all ease-in;
  cursor: pointer;
}

.project .item:hover {
  background-color: #eee;
}

.item h4 {
  font-size: 1.2rem;
}

/* Top Button */

#TopButton {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 50px;
  right: 50px;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  font-size: 2rem;
  background-color: #c2c2c2;
  color: #fff;
  cursor: pointer;
  transition: all 200ms ease-in;
  opacity: 0;
}

#TopButton:hover {
  background-color: #000;
  color: #fff;
}

#TopButton.active {
  opacity: 100;
}
